.Rproj.user
.Rhistory
.Ruserdata
*.Rproj
*.nb.html

# Metaphlan files
parsed_marker_gene_info.tab

# MetaboAnalyst automatic files
master_compound_db.qs
master_syn_nms.qs
name_map.csv

# Intermediate data files
data/original_data
data/prelim_data
data/processed_data/iHMP_IBDMDB_2019/mtb.tsv
data/processed_data_DELETE

# Reference DB files
references/gtdb/bac120_metadata_r202.tsv
references/ncbi

# Misc.
docs/~$*.xlsx
scripts/.RData

scripts/data_analysis/iPATH_selection.txt
scripts/data_analysis/GLay_clusters_3.png
scripts/data_analysis/GLay_clusters.png
scripts/data_analysis/GLay_clusters_2.png
